<form action="/recipes" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Recipe Name</label>
    <input name="name" type="text" class="form-control mb-3" placeholder="Type recipe name here">
    <label for="description" class="form-label">Description</label>
    <input name="description" type="hidden" class="form-control" >
    <textarea class="form-control mb-3" name="description" cols="30" rows="3">
    </textarea>
    <input href="/recipes" type="submit" value="Add to Cookbook" class="btn btn-primary">
  </div>
</form>
