<h1>Welcome to your Cookbook</h1>

<p>You currently have in your cookbook:</p>
<% @recipes.each_with_index do |recipe, index|  %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text w-100"><%= recipe.description %></p>
        <div class="container d-flex justify-content-between">
          <a href="/recipes/<%= index %>"><i class="text-end fa-solid fa-trash"></i></a>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<% end %>

<a href="/add_recipe">Add a Recipe</a>
